.dm-loading{
    position: fixed;
    z-index: 99;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    top: 0;
    left:0;
    justify-content: center;
    background:white;
}
.flex-center-between{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.pointer{
    cursor:pointer;
}
.flush-card-body{
    padding:0;
    min-height:50px;
}